
.rich-text {
    padding-block: 60px;
}
.rich-text__col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rich-text h2 {
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
}
.rich-text button {
    max-width: fit-content;
    margin: 15px auto 0;
}